/* bg colors */
$primary: #4A154B;
$secondary: #D4A74F;
$tertiary: #9CA3AF;
$background: white;

/* text colors */
$text-color: #4B5563;
$title-color: #000000;


/* services and features bg */
$services-bg: #FFFFFF;
$features-bg: #f8f6f6;

/*light mode colors*/
$light-mode-bg: #f8f9fa;
$light-mode-text: #212529;

/* dark mode colors */
$dark-mode-bg: #1a1d23;
$dark-mode-text: #d4d4d4;


/*2. Spacing Scale*/

$base-spacing: 0.5rem;

$space-xs: $base-spacing * 0.5; // 0.25rem
$space-sm: $base-spacing; // 0.5rem
$space-md: $base-spacing * 2; // 1rem
$space-lg: $base-spacing * 3; // 1.5rem
$space-xl: $base-spacing * 5; // 2.5rem


/* 3. Typography */

$font-family: 'Lato', sans-serif;
$font-size-base: 1rem;
$font-size-xl: 2.5rem;
$font-size-lg: 2rem;
$font-size-md: 1.25rem;
$font-size-sm: 0.875rem;
$line-height: 1.6;


/*4. Border / Radius*/
$radius-smx: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
/* circle rouded  */
$rounded-corners: 100%;


/* transition */
$transition: all 0.4s ease-in-out;
// Shadows
$box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
$shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Default
$shadow-soft: 0 1px 5px rgba(0, 0, 0, 0.08);   // Very light shadow
$shadow-base: 0 2px 10px rgba(0, 0, 0, 0.15);  // Normal (your existing $shadow)
$shadow-hover: 0 4px 20px rgba(0, 0, 0, 0.25); // Strong hover effect
